.image-size {
  width: 50%;
}

.body-width {
  width: 50%;
}

.card {
  border: none;
  align-items: center;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
