.actions {
  margin: 1em 2em;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.dropdown,
.show {
  width: 200px;
}

.dropdown-menu {
  background: #dc3545;

  .dropdown-item {
    color: #ffffff;
    text-align: center;
    padding-left: 2px;

    &:hover {
      color: #dc3545;
      background: #ffffff;
      cursor: pointer;
    }
  }
}

button,
input {
  height: 3em;
}
